# data
.eggs
.idea
*.pyc
*.swp
*py~
*~
*.egg-info

# Mac related stuff
.DS_Store

# Packaging builds
build
dist

# tox
.tox

# coverage
.coverage
.coverage*
coverage.xml

# venv
venv
test_venv

# docs
docs/build
docs/source/generated
docs/source/autoapi/
docs/source/examples
docs/_images

# reports
reports

# examples
examples/*_release-*
examples/*.log
examples/.ipynb_checkpoints
examples/dataset.csv
examples/morphologies
examples/out_*

# Node
node_modules
package-lock.json
