[core]
logging_conf_file = logging.conf

# Fetching tasks

[Fetch]
source = NeuroMorpho
config_file = neuromorpho_config.json
result_path = morphologies

# Curation tasks

[Curate]
tag_output = False
dataset_df = dataset.csv
result_path = out_curated
report_path = report_curation.pdf
nb_processes = 4

[ExtractMarkers]
skip = False

[PlotMarkers]
with_plotly = True
skip = False

[CheckNeurites]
mock_soma_type = spherical

[Recenter]
skip = False

[DetectErrors]
skip = False
min_range = 50

[PlotErrors]
with_plotly = True
skip = False

[Orient]
pia_direction = y

[Align]
skip = True

[EnsureNeuritesOutsideSoma]
skip = True

[PlotMorphologies]
skip = False
with_realistic_diameters = False

# Annotation tasks

[Annotate]
tag_output = False
# dataset_df = out_curated/curated_dataset.csv  # This can be used to annotate the results of a previously run workflow
result_path = out_annotated
report_path = report_annotation.pdf
nb_processes = 4

[MType]
mtype_regex = []

[HardLimit]
skip_axon = False
dendrite_hard_limit = L1_hard_limit
axon_hard_limit = L1_axon_hard_limit

[PlotHardLimit]
with_plotly = True
skip = False

[ApicalPoint]
tuft_percent = 20
skip = False

[PlotApicalPoint]
with_plotly = True
skip = False

[CutLeaves]
bin_width = 20
percentile_threshold = 60

[PlotCutLeaves]
with_plotly = True
skip = False

# Repair tasks

[Repair]
tag_output = False
# dataset_df = out_annotated/annotated_dataset.csv  # This can be used to repair the results of a previously run workflow
result_path = out_repaired
report_path = report_repair.pdf
make_release = True
nb_processes = 4

[Unravel]
window_half_length = 5

[RepairNeurites]
with_plot = False

[PlotRepair]
with_plotly = False
skip = False

[MakeRelease]
repair_path = repair_release
